.page-login {
  .layout {
    width: 100%;
    align-items: center;
    justify-content: center;
    .container {
      margin-top: -5rem;
      max-width: 450px;
    }
  }
}

.login-left{
  background-image: url(../img/login-bg.jpg);
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}

.vh{
  height: 100vh;
}

.form-group{
  margin-bottom: 15px;
}

.login-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  >div{
    width: 100%;
    max-width: 400px;
  }

  .btn{
    width: 100%;
  }
}

.register-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  >div{
    width: 100%;
    max-width: 700px;
  }

  .btn{
    width: 100%;
  }
}
